{
  "extends": "./.babelrc-apm",
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-class-properties", {
        "spec": true
      }
    ],
    [
      "react-css-modules", {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": ["postcss-nested"]
          }
        },
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "handleMissingStyleName": "ignore",
        "webpackHotModuleReloading": true
      }
    ]
  ]
}
