{
  "passPerPreset": true,
  "presets": [
    { "plugins": [ "transform-runtime" ] },
    {
        "passPerPreset": false,
        "presets": [
          "flow",
          [ "es2015", { "modules": false } ],
          "stage-1",
          "react"
        ]
    }
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
