<ol>
<li style="clear: both;">
    <img src="https://img.apmcdn.org/374a74f8bf2d653430d73a68f7862ca18ca927f5/uncropped/97828d-20171108-appetites.jpg" alt="" style="float:left; width:100px; margin-right: 10px;">
    <h2>Appetites: Oh deer! Venison meatballs with cherry BBQ sauce</h2>
    <p>Do you know what you're going to do with your deer after hunting season is over? Chef Jon Wipfli has some suggestions.</p>
    <ol class="audiosList" aria-label="List of audio">
      <li style="clear: both;">
        <script data-bragi-audio="true" type="application/ld+json">
        {
          "@type": "AudioObject",
          "imageUrl": "https://img.apmcdn.org/374a74f8bf2d653430d73a68f7862ca18ca927f5/uncropped/97828d-20171108-appetites.jpg",
          "contentUrl": "https://play.publicradio.org/mprstory/o/minnesota/news/features/2017/11/08/appetites_venison_20171108_128.mp3",
          "description": "Do you know what you&#39;re going to do with your deer after hunting season is over? Chef Jon Wipfli has some suggestions.",
          "duration": "PT00H04M50S",
          "encodingFormat": "mp3",
          "name": "Appetites: Oh deer! Venison meatballs with cherry BBQ sauce",
          "identifier": "/minnesota/news/features/2017/11/08/appetites_venison_20171108_128.mp3",
          "uploadDate": "2017-11-08T00:00:00-06:00",
          "isPartOf": {
            "@type": "Article",
            "url": "//mprnews.org/story/2017/11/08/oh-deer-venison-meatballs-appetites",
            "headline": "Appetites: Oh deer! Venison meatballs with cherry BBQ sauce"
          },
          "creator": {
            "@type": "Organization",
            "name": "MPR News",
            "url": "//mprnews.org"
          }
        }
        </script>
        <h3>Listen: Appetites: Oh deer! Venison meatballs with cherry BBQ sauce</h3>
        <audio preload="metadata" controls="controls" src="https://play.publicradio.org/mprstory/o/minnesota/news/features/2017/11/08/appetites_venison_20171108_128.mp3"></audio>
      </li>
    </ol>
  </li>
</ol>

<%= javascript_include_tag 'add_audio' %>
