<script type="text/javascript">
var apm_account = new ApmAccount('/apm_accounts')
if(!apm_account.is_logged_in()) {
  window.location.href = apm_account.log_in_path()
}
console.log(apm_account)
</script>

<% @entries.each do |entry| %>
  <h2><%= entry.headline %></h2>
  <p><%= entry.teaser %></p>
  <% entry.audio.each do |audio| %>
    <h3><%= audio.title %></h3>
    <audio controls="controls" src="<%= audio.apm_api.stream.http_file_path.sub(/^http/, 'https') %>"></audio>
  <% end %>
  <hr />
<% end %>