<footer class="footer" role="contentinfo">
  <small class="footer_left">&copy; <%= Time.zone.today.year %> Minnesota Public Radio</small>
  <small class="footer_right">
    <ul>
      <li>
        <a href="http://www.americanpublicmedia.org/terms/" target="_blank">Terms and Conditions</a>
      </li>
      <li>
        <a href="http://www.americanpublicmedia.org/privacy/" target="_blank">Privacy Policy</a>
      </li>
    </ul>
  </small>
</footer>
