<footer class="footer" role="contentinfo">
  <small class="footer_copy">&copy; <%= Time.zone.today.year %> Minnesota Public Radio</small>
  <small>
    <ul class="footer_tools">
      <li>
        <a href="http://www.americanpublicmedia.org/terms/" class="link link-plain" target="_blank">Terms and Conditions</a>
      </li>
      <li>
        <a href="http://www.americanpublicmedia.org/privacy/" class="link link-plain" target="_blank">Privacy Policy</a>
      </li>
    </ul>
  </small>
</footer>
