<header class="mainMenu_header" role="banner">
  <div class="mainMenu_logo">
    <svg
      width='15px'
      height='15px'
      viewBox='0 0 15 15'
      version='1.1'
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'>
      <path
        fill-rule='evenodd'
        d='M4.32,7.5 C4.32,5.746 5.746,4.319 7.501,4.319 C9.254,4.319 10.681,5.746 10.681,7.5 C10.681,9.254 9.254,10.682 7.501,10.682 C5.746,10.682 4.32,9.254 4.32,7.5 Z M0.5,7.5 C0.5,11.36 3.641,14.501 7.501,14.501 C11.359,14.501 14.5,11.36 14.5,7.5 C14.5,3.64 11.359,0.5 7.501,0.5 C3.641,0.5 0.5,3.64 0.5,7.5 L0.5,7.5 Z'
      />
    </svg>
    <span class="invisible">American Public Media</span>
  </div>
  <nav class="mainMenu_nav" role="navigation">
    <ul class="mainMenu_list">
      <li><a class="mainMenu_link mainMenu_link-active mainMenu_link-highlighted" href="#">Playlist</a></li>
      <li><a class="mainMenu_link" href="#">Archive</a></li>
    </ul>
  </nav>
</header>
