<header class="mainMenu_header" role="banner">
  <div class="mainMenu_logo">
    <%= render 'partials/logo' %>
    <span class="invisible"><%= Rails.application.config.x.apmgo['template']['organization_name'] %></span>
  </div>
  <nav class="mainMenu_nav" role="navigation">
    <ul class="mainMenu_list">
      <li><a class="mainMenu_link mainMenu_link-active mainMenu_link-highlighted" href="#">Playlist</a></li>
      <li>
        <a class="mainMenu_link mainMenu_link-disabled" href="javascript:void(0)">Archive</a>
				<sub>Coming Soon!</sub>
      </li>
    </ul>
  </nav>
</header>
